<h1> Our members have been all over! </h1><br>
<h3> Members have visited: </h3>
    <ul>
        <% @destinations.each do |d| %>
            <li><%= link_to d.location, destination_path(d) %></li>
        <% end %>
    </ul>

